@model Projet2.Models.Compte
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PaymentView</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>

            <legend><h4>Paiement</h4></legend>
            <table>
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(m => Model.Paiement.NumeroCB)</td>
                        <td>@Html.TextBoxFor(m => Model.Paiement.NumeroCB, new { placeholder = "Numéro Carte Bleu" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.Paiement.NumeroCB)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => Model.Paiement.DateExpiration)</td>
                        <td>@Html.TextBoxFor(m => Model.Paiement.DateExpiration,"{0:MM-yyyy}" ,new { placeholder = "Date d'expiration de la carte" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.Paiement.DateExpiration)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => Model.Paiement.CodeDeSecurite)</td>
                        <td>@Html.TextBoxFor(m => Model.Paiement.CodeDeSecurite, new { type = "Code de sécurité" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.Paiement.CodeDeSecurite)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => Model.Paiement.Adresse)</td>
                        <td>@Html.TextBoxFor(m => Model.Paiement.Adresse.NumeroRue, new { placeholder = "n°" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.Paiement.Adresse.NumeroRue)</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <br />
            <legend><h4>Informations De Facturation</h4></legend>
            <table>
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(m => Model.Facturation.NomFacturation)</td>
                        <td>@Html.TextBoxFor(m => Model.Facturation.NomFacturation, new { placeholder = "Nom" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.Facturation.NomFacturation)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => Model.Facturation.PrenomFacturation)</td>
                        <td>@Html.TextBoxFor(m => Model.Facturation.PrenomFacturation, new { placeholder = "Prenom" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.Facturation.PrenomFacturation)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => Model.Facturation.AdresseFacturation)</td>
                        <td>@Html.TextBoxFor(m => Model.Facturation.AdresseFacturation, new { placeholder = "numéro et nom de la rue" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.Facturation.AdresseFacturation)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => Model.Facturation.VilleFacturation)</td>
                        <td>@Html.TextBoxFor(m => Model.Facturation.VilleFacturation, new { placeholder = "Ville" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.Facturation.VilleFacturation)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => Model.Facturation.CodePostalFacturation)</td>
                        <td>@Html.TextBoxFor(m => Model.Facturation.CodePostalFacturation, new { placeholder = "Code Postal" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.Facturation..CodePostalFacturation)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => Model.Facturation.PaysFacturation)</td>
                        <td>@Html.TextBoxFor(m => Model.Facturation.PaysFacturation, new { placeholder = "Pays" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.Facturation.PaysFacturation)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => Model.Facturation.TelephoneFacturation)</td>
                        <td>@Html.TextBoxFor(m => Model.Facturation.TelephoneFacturation, new { placeholder = "Numéro de Telephone" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.Facturation.TelephoneFacturation)</td>
                    </tr>


                </tbody>
            </table>

            <input type="button" onclick="window.location.href='https://localhost:5001/Home';" class="btn btn-warning btn-lg" value="Retour accueil" />
        </fieldset>
    }
    @*vérification du type de données dans le front*@
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</body>
</html>