@model Projet2.ViewModels.ActiviteViewModel

@{
    ViewBag.Title = "ActiviteViewModel";
    Layout = "_Layout";
    }


<body>

    @using (Html.BeginForm())
    {
        <center>
            <h1>Liste des activités proposées par l'ensemble des clubs</h1><br />

            <h3>Événements Club</h3>
        </center>
        <table class="tableau-style" id="Voyage">
            <thead>

                <tr>
                    @*<th>Id</th>*@
                    @*<th>Type Activite</th>*@
                    <th>Activité</th>
                    <th>Club</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Description</th>
                    <th>Lieu</th>
                    <th>Places</th>
                    <th>Niveau</th>
                    <th>Prix</th>
                    <th>Séléction</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var member in Model.Activites.Where(i => i.SortieAdherentId == null))

                {
                    <tr>
                        @*<td>@member.Id</td>*@
                        @*<td>@member.TypeActivite</td>*@
                        <td>@member.NomActivite</td>
                        <td>@member.Club.InfosClub.NomClub</td>
                        <td>@member.DateDebutActivite.ToString("dd/MM/yyyy")</td>
                        <td>@member.DateFinActivite.ToString("dd/MM/yyyy")</td>
                        <td>@member.DescriptionActivite</td>
                        <td>@member.LieuActivite</td>
                        <td>@member.NombrePlaceActivite</td>
                        <td>@member.EvenementClub.NiveauRequis</td>
                        <td>@member.EvenementClub.Prix €</td>
                        <td><input name="Activite" value="news" type="radio" /></td>
                    </tr>
                }
            </tbody>
        </table>
        <br />

        <center>
            <h3>Sorties membres</h3>
        </center>
        <table class="tableau-style" id="SortieAdherent">

            <thead>
                <tr>
                    @*<th>Id</th>*@
                    @*<th>Type Activite</th>*@
                    <th>Activité</th>
                    <th>Club</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>Description</th>
                    <th>Lieu</th>
                    <th>Places</th>
                    <th>Encadrant</th>
                    <th>Téléphone</th>
                    <th>Séléction</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model.Activites.Where(i => i.EvenementClubId == null))

                {
                    <tr>
                        @*<td>@member.Id</td>*@
                        @*<td>@member.TypeActivite</td>*@
                        <td>@member.NomActivite</td>
                        <td>@member.Club.InfosClub.NomClub</td>
                        <td>@member.DateDebutActivite.ToString("dd/MM/yyyy")</td>
                        <td>@member.DateFinActivite.ToString("dd/MM/yyyy")</td>
                        <td>@member.DescriptionActivite</td>
                        <td>@member.LieuActivite</td>
                        <td>@member.NombrePlaceActivite</td>
                        <td>@member.SortieAdherent.NomLeader</td>
                        <td>@member.SortieAdherent.Telephone</td>
                        <td><input name="Activite" value="news" type="radio" /></td>
                    </tr>
                }
            </tbody>
        </table>
        <br />

        <div>
            <a href=@("/Home/PaymentViewUser/")><button type="button" id="inscrirebutton" class="btnParaBis btnParaBis--btnBis">M'inscrire</button></a>
        </div>


    }
    @*vérification du type de données dans le front*@
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    @section JS{
        <script>function updatebtn() {
                var radioButtons = document.querySelectorAll('input[name="Activite"]')
                var ischecked = false
                for (let btn of radioButtons) {
                    if (btn.checked) {
                        ischecked = true
                    }
                }
                if (ischecked) {
                    var inputbtn = document.getElementById("inscrirebutton")
                    inputbtn.style.display = "block"
                }
            }
            var radioButtons = document.querySelectorAll('input[name="Activite"]')
            for (let btn of radioButtons) {
                btn.addEventListener("click", function () {
                    updatebtn()
                })
            }</script>
    }

</body>
