@model List<Projet2.Models.Club>
@{
    ViewBag.Title = "ClubList";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des clubs</title>
</head>
<center>
    <body>
        <h1>Liste des clubs</h1>

        <p style="color: red">Alex : faire un formulaire plus joli</p>

        <label for="name">Recherche</label>

        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Recherche par nom...">
        <table id="ListClubsTable" onkeyup="myFunction()" border="1" style="margin: 20px">
            <tr>
                <th>Id</th>
                <th>Nom du club</th>
                <th>Adresse</th>
                <th>adresse Email</th>
            </tr>
            <tbody>
                @foreach (var member in Model)

                {
                    <tr>
                        <td>@member.Id</td>
                        <td>@member.InfosClub.NomClub</td>
                        <td>@member.InfosClub.Adresse.NumeroRue, @member.InfosClub.Adresse.NomRue - @member.InfosClub.Adresse.CodePostal @member.InfosClub.Adresse.NomVille </td>
                        <td>@member.Compte.AdressEmail</td>
                    </tr>
                }
            </tbody>
        </table>


        <script>function myFunction() {
                // Declare variables
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("ListClubsTable");
                tr = table.getElementsByTagName("tr");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[1]; // indicates the column for the filtering
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }</script>

        <p style="color: red">ici, il faut permettre que lorsque l'utilisatuer clique sur m'inscrire, ça enregistre l'id du club, et ça ajoute l'utilisateur comme adhérent à ce club.</p>
        <form action="CreateUser" method="get">
            <div style="margin: 20px">
                <input type="text" name="id" placeholder="Id" size="10rem" />
                <button type="submit" onclick="window.location.href='https://localhost:5001/Home/CreateUser';">M'inscrire</button>
            </div>
        </form>

        <div style="margin: 20px">
            <input type="button" onclick="window.location.href='https://localhost:5001/Home/CreateAdherent';" value="M'inscrire" />
        </div>


        <div style="margin: 20px">
            <input type="button" onclick="window.location.href='https://localhost:5001/Home/EspaceParapentiste';" value="Retour Espace Parapentiste" />
        </div>




    </body>
</center>
</html>

