@model Projet2.Models.Club
@{
    Layout = "_Layout";
    ViewBag.Title = "CreateClub";
}





    <bodyClubLogin>
        <div class="containerClubLogin">
            <div class="img" style="margin: 0px 0px 0px 0px;">
                <img src="~/Images/Connexion-formulaire-club.png" alt="1" width="600px">
            </div>

            <div class="loginClub" style="margin: 0px 100px 0px 20px;">
                <h1>Formulaire de connexion Club</h1>
                <p>Ravi de vous revoir ! Entrez vos identifiants de club s'il vous plait ! </p>
                @using (Html.BeginForm())
                {
                    <div class="identifiantsLoginClub">
                        @Html.TextBoxFor(m => Model.InfosClub.NomClub, new { placeholder = "Nom de votre club" })
                        @Html.ValidationMessageFor(m => Model.InfosClub.NomClub)
                        @Html.PasswordFor(m => Model.InfosClub.NomClub, new { placeholder = "Mot de passe" })
                        @Html.ValidationMessageFor(m => Model.InfosClub.NomClub)
                    </div>
                    <input type="submit" value="Valider">
                }
                <div class="link-redirection-inspcritpion-club" style="margin: 20px 0px 0px 0px;">
                    <a href="/Home/CreateClub">Vous n'avez pas de compte ? Créer un compte</a>
                </div>
            </div>
        </div>







        <!--@using (Html.BeginForm())
        {
            <fieldset>

                <legend><h4>Identifiez-vous</h4></legend>
                <table>
                    <tbody>
                        <tr>
                            <td>@Html.LabelFor(m => Model.InfosClub.NomClub)</td>
                            <td>@Html.TextBoxFor(m => Model.InfosClub.NomClub, new { placeholder = "nom du club" })</td>
                            <td>@Html.ValidationMessageFor(m => Model.InfosClub.NomClub)</td>
                        </tr>

                        <tr>
                            <td>@Html.LabelFor(m => Model.Compte.MotDePasse)</td>
                            <td>@Html.TextBoxFor(m => Model.Compte.MotDePasse, new { type = "password" })</td>
                            <td>@Html.ValidationMessageFor(m => Model.Compte.MotDePasse)</td>
                        </tr>

                    </tbody>
                </table>
                <br />
                <br />
                <input type="submit" value="Valider" />
                @*<input type="button" onclick="window.location.href='https://localhost:5001/Home/EspaceClubLogged';" value="Valider" />
                    <input type="button" onclick="window.location.href='https://localhost:5001/Home/EspaceClubLogged?nom=NonClub';" value="Valider" />*@

            </fieldset>

        }-->

    </bodyClubLogin>
    @*vérification du type de données dans le front*@
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
