@model Projet2.Models.Club

@{
    Layout = "_Layout";
    ViewBag.Title = "CreateClub";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateClub</title>
</head>
<body>
    <h1>Espace club</h1>

    @using (Html.BeginForm())
    {
        <fieldset>

            <legend><h4>Créez votre compte club</h4></legend>
            <table>
                <tbody>
                    <tr>
                        <td>@Html.LabelFor(m => Model.InfosClub.NomClub)</td>
                        <td>@Html.TextBoxFor(m => Model.InfosClub.NomClub, new { placeholder = "nom du club" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.InfosClub.NomClub)</td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(m => Model.InfosClub.Adresse)</td>
                        <td>@Html.TextBoxFor(m => Model.InfosClub.Adresse.NumeroRue, new { placeholder = "n°" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.InfosClub.Adresse.NumeroRue)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Html.TextBoxFor(m => Model.InfosClub.Adresse.NomRue, new { placeholder = "rue" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.InfosClub.Adresse.NomRue)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Html.TextBoxFor(m => Model.InfosClub.Adresse.CodePostal, new { placeholder = "code postal" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.InfosClub.Adresse.CodePostal)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>@Html.TextBoxFor(m => Model.InfosClub.Adresse.NomVille, new { placeholder = "Ville" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.InfosClub.Adresse.NomVille)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => Model.Compte.AdressEmail)</td>
                        <td>@Html.TextBoxFor(m => Model.Compte.AdressEmail, new { type = "email", placeholder = "mail" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.Compte.AdressEmail)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => Model.Compte.MotDePasse)</td>
                        <td>@Html.TextBoxFor(m => Model.Compte.MotDePasse, new { type = "password" })</td>
                        <td>@Html.ValidationMessageFor(m => Model.Compte.MotDePasse)</td>
                    </tr>

                </tbody>
            </table>
            <br />
            <br />
            <input type="submit" value="Créer" />

        </fieldset>
        <br />

        <fieldset>
            <legend><h4>Personnalisez votre espace club</h4></legend>
            <table>
                <tbody>

                    <tr>
                        <td>Titre de votre site</td>
                        <td><TextArea id="titreSite" name="titreSite" rows="1" cols="50" placeholder="Bienvenue sur Annecy Vol Libre !"></TextArea></td>
                        <td>@Html.ValidationMessageFor(m => Model.InfosClub.NomClub)</td>
                    </tr>
                    <tr>
                        <td>Entrez un descriptif</td>
                        <td><TextArea id="descSite" name="descSite" rows="5" cols="50" placeholder="Annecy Vol Libre est un club situé à 3 km du Lac d'Annecy, offrant de nombreuses possibilités de vols."></TextArea></td>
                    </tr>
                    <tr>

                        <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>
                        <p><label for="file" style="cursor: pointer;">Ajoutez le logo de votre club</label></p>
                        <p><img id="output" width="200" /></p>

                    </tr>

            </table>
        </fieldset>
        <br />

        <script>var loadFile = function (event) {
                var image = document.getElementById('output');
                image.src = URL.createObjectURL(event.target.files[0]);
            };</script>



        <fieldset>
            <legend><h4>Importer la liste de vos adhérents</h4></legend>

            <script language="javascript">function addRow(tableID) {

                    var table = document.getElementById(tableID);

                    var rowCount = table.rows.length;
                    var row = table.insertRow(rowCount);

                    var cell1 = row.insertCell(0);
                    var element1 = document.createElement("input");
                    element1.type = "text";
                    element1.name = "txtbox[]";
                    element1.placeholder = "nom";
                    cell1.appendChild(element1);


                    var cell2 = row.insertCell(1);
                    var element2 = document.createElement("input");
                    element2.type = "text";
                    element2.name = "txtbox[]";
                    cell2.appendChild(element2);
                    element2.placeholder = "prénom";


                    var cell3 = row.insertCell(2);
                    var element3 = document.createElement("input");
                    element3.type = "date";
                    element3.name = "txtbox[]";
                    element3.placeholder = "date de naissance";
                    cell3.appendChild(element3);

                    var cell4 = row.insertCell(3);
                    var element4 = document.createElement("input");
                    element4.type = "text";
                    element4.name = "txtbox[]";
                    element4.placeholder = "n°";
                    cell4.appendChild(element4);

                    var cell5 = row.insertCell(4);
                    var element5 = document.createElement("input");
                    element5.type = "text";
                    element5.name = "txtbox[]";
                    element5.placeholder = "rue";
                    cell5.appendChild(element5);

                    var cell6 = row.insertCell(5);
                    var element6 = document.createElement("input");
                    element6.type = "int";
                    element6.name = "txtbox[]";
                    element6.placeholder = "CP";
                    cell6.appendChild(element6);

                    var cell7 = row.insertCell(6);
                    var element7 = document.createElement("input");
                    element7.type = "int";
                    element7.name = "txtbox[]";
                    element7.placeholder = "ville";
                    cell7.appendChild(element7);

                    var cell8 = row.insertCell(7);
                    var element8 = document.createElement("input");
                    element8.type = "email";
                    element8.name = "txtbox[]";
                    element8.placeholder = "mail";
                    cell8.appendChild(element8);
                }

                function deleteRow(tableID) {
                    try {
                        var table = document.getElementById(tableID);
                        var rowCount = table.rows.length;

                        for (var i = 0; i < rowCount; i++) {
                            var row = table.rows[i];
                            var chkbox = row.cells[0].childNodes[0];
                            if (null != chkbox && true == chkbox.checked) {
                                table.deleteRow(i);
                                rowCount--;
                                i--;
                            }


                        }
                    } catch (e) {
                        alert(e);
                    }
                }</script>



            <table id="dataTable" width="350px" border="0">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de naissance</th>
                        <th colspan="4">Adresse</th>
                        <th>email</th>
                    </tr>
                    <tr>

                        <td> <input type="text" placeholder="nom"> </td>
                        <td> <input type="text" placeholder="prénom"> </td>
                        <td> <input type="date"> </td>
                        <td> <input type="int" placeholder="n°"> </td>
                        <td> <input type="text" placeholder="rue"> </td>
                        <td> <input type="text" placeholder="CP"> </td>
                        <td> <input type="int" placeholder="ville"> </td>
                        <td> <input type="email" placeholder="mail"> </td>

                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>
            <input type="button" value="Ajouter une ligne" onclick="addRow('dataTable')">
            <input type="Button" Value="Enregistrer cette liste">

            <br />
            <br />
            <button type="submit">Choisir un fichier</button>
        </fieldset>
    }
    <br />
    <br />


    <script>function myCreateFunction() {
            var table = document.getElementById("importTable");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            var cell5 = row.insertCell(4);
            var cell6 = row.insertCell(5);
            var cell7 = row.insertCell(6);
            var cell8 = row.insertCell(7);

            cell1.innerHTML = "nom";
            cell2.innerHTML = "prénom";
            cell3.innerHTML = "date";
            cell4.innerHTML = "n°";
            cell5.innerHTML = "rue";
            cell6.innerHTML = "CP";
            cell7.innerHTML = "ville";
            cell8.innerHTML = "mail";

            cell1

        }

        //<button onclick="myDeleteFunction()">Delete row</button>
        //function myDeleteFunction() {
        //    document.getElementById("ZeTable").deleteRow(-1);
        //}</script>


    <input type="button" onclick="window.location.href='https://localhost:5001/Home/EspaceClub';" value="Retour Espace Club" />

    @*vérification du type de données dans le front*@
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>

</body>
</html>