@model Projet2.ViewModels.CreateClubViewModel
@{
    Layout = "_LayoutClub";
    ViewBag.Title = "EspaceClub";
}


    <body>
        <center>
            <div class="containerOffre">
                <div class="img" style="margin: 30px 0px 30px 0px;">
                    <img src="~/Images/@Html.ValueFor(m=> Model.Club.InfosClub.urlLogo)" width="300px">
                    
                </div>
                <div class="loginOffre">
                    <td><h1>@Html.ValueFor(m => Model.Club.InfosClub.titreClub)</h1></td>

                    <p>@Html.ValueFor(m => Model.Club.InfosClub.DescriptionClub)</p>

                    <h3>Contact</h3>
                    <p>@Html.ValueFor(m => Model.Club.Compte.AdressEmail)</p>
                    <a href="@("/Home/ListeAdherentsView/"+Model.Club.Id)"><button type="button" class="btnPara btnPara--btnClub">Liste des adhérents</button></a>
                    <a href="@("/Home/ActivitesClub/"+Model.Club.Id)"><button type="button" class="btnPara btnPara--btnClub">Liste des activités du club</button></a>

                    <div style="margin: 20px">
                        <input type="button" onclick="window.location.href='https://localhost:5001/Home/CreateAdherent';" value="M'inscrire" class="btnPara btnPara--btnClub" />
                    </div>
                </div>
             </div>
         </center>

  
    </body>

