@model List<Projet2.Models.Facturation>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des factures</title>
</head>
<center>
    <body>
        <h1>Liste des factures</h1>
        <table border="1" style="margin: 20px">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse de Facturation</th>
                <th>Ville</th>
                <th>Code Postal</th>
                <th>Pays</th>
                <th>Telephone</th>
            </tr>
            <tbody>
                @foreach (var member in Model)

                {
                    <tr>
                        <td>@member.Id</td>
                        <td>@member.NomFacturation</td>
                        <td>@member.PrenomFacturation </td>
                        <td>@member.AdresseFacturation</td>
                        <td>@member.VilleFacturation</td>
                        <td>@member.CodePostalFacturation</td>
                        <td>@member.PaysFacturation</td>
                        <td>@member.TelephoneFacturation</td>
                    </tr>
                }
            </tbody>
        </table>

        <form action="RemoveFacture" method="get">
            <div style="margin: 20px">
                <input type="text" name="id" placeholder="Id" size="10rem" />
                <button type="submit">Supprimer facture</button>
            </div>
        </form>


        <div style="margin: 20px">
            <input type="button" onclick="window.location.href='https://localhost:5001/Home';" class="btn btn-warning btn-lg" value="Retour accueil" />
            <input type="submit"; value="Créer Facture"/>
        </div>

        <div>
            <label for="name">Recherche</label>
            <input type="text" id="searchBox" name="searchBox">
        </div>



    </body>
</center>
</html>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}