@model List<Projet2.Models.Facturation>
@{
  Layout = "_Layout";
    ViewBag.Title = "EspaceFacture";
    }


<body>
    <center>
        <h1>Liste des factures</h1>
        <table class="tableau-style">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Adresse de Facturation</th>
                    <th>Ville</th>
                    <th>Code Postal</th>
                    <th>Pays</th>
                    <th>Telephone</th>
                    <th>Club</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model)

                {
                    <tr>
                        <td>@member.NomFacturation</td>
                        <td>@member.PrenomFacturation </td>
                        <td>@member.AdresseFacturation</td>
                        <td>@member.VilleFacturation</td>
                        <td>@member.CodePostalFacturation</td>
                        <td>@member.PaysFacturation</td>
                        <td>@member.TelephoneFacturation</td>
                        <td>@member.Club.InfosClub.NomClub</td>
                    </tr>
                }
            </tbody>
        </table>

        <form action="RemoveFacture" method="get">
            <div style="margin: 20px">
                <input type="text" name="id" placeholder="Id" size="10rem" />
                <button type="submit">Supprimer facture</button>
            </div>
        </form>

        <div>
            <input type="button" onclick="window.location.href='https://localhost:5001/Home/EspaceAdmin';" value="Retour Espace Admin" />
        </div>



        @{Html.BeginForm("CreatePDFDocument", "Home", FormMethod.Get);
            {
                <div>
                    <input type="submit" value="Exporter" style="width:300px;height:27px" />
                </div>
            }
            Html.EndForm();


    </center>
</body>

