@*@model List<Projet2.Models.Adherent>*@
@model Projet2.ViewModels.CreateClubViewModel
@{
    ViewBag.Title = "AdherentList";
    Layout = "_LayoutClub";
}
<body>
    <center>
        <h1>Liste des adhérents du @Html.ValueFor(m => Model.Club.InfosClub.NomClub)</h1>


        <table class="tableau-style">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Adresse</th>
                    <th>Adresse Mail</th>
                </tr>
            </thead>
            <tbody>

                    @foreach (var member in Model.Adherents.Where(r => r.ClubId == Model.Club.Id))
                    {
                        <tr>
                            @* <td>@member.Id</td>
                    <td>@member.ClubId</td>
                    <td>@member.UtilisateurId</td>*@
                            <td>@member.Utilisateur.InfosPersonnelles.Nom</td>
                            <td>@member.Utilisateur.InfosPersonnelles.Prenom</td>
                            <td>@member.Utilisateur.InfosPersonnelles.DateNaissance.ToShortDateString()</td>
                            <td>
                                @member.Utilisateur.InfosPersonnelles.Adresse.NumeroRue,
                                @member.Utilisateur.InfosPersonnelles.Adresse.NomRue -
                                @member.Utilisateur.InfosPersonnelles.Adresse.CodePostal
                                @member.Utilisateur.InfosPersonnelles.Adresse.NomVille
                            </td>
                            <td>@member.Utilisateur.Compte.AdressEmail</td>
                        </tr>
                    }
            </tbody>
        </table>





        <div>
            <a href=@("/Home/EspaceClubVisible/"+Model.Club.Id)><button type="button"class="btnParaBis btnParaBis--btnBis">Retour Espace club</button></a>
        </div>

    </center>
</body>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
