@model List<Projet2.Models.OffreAbonnement>
@{
    ViewBag.Title = "OffreAbonnement";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogue d'offre d'abonnement</title>
</head>
<body>
    <h1>Choississez l'offre qui vous convient</h1><br />
    <table class="abo">

        <form method="GET">



            <label>
                @foreach (var member in Model)
                {
                    <input type="radio" name="OffreAbonnement" value="Abonnement" required><b>Abonnement @member.TypeOffre </b><b> @member.Prix €</b>
                    <p><em>Engagement : @member.DureeOffreMois mois</em></p>
                    <p>@member.DescriptionOffre</p>
                    <br />
                }
            </label>
            <input type="submit" value="S'abonner">
            <p style="color:red">ce bouton permet d'obliger à sélectionner un élément mais ne renvoit pas vers la page paiement, probablemetn un pb dans le homecontroller' </p>

        </form>

        @*<tr>
                    <td><input name="OffreAbonnement" value="news" type="radio" required></td>
                    <td><b>Abonnement @member.TypeOffre </b> -- <b> @member.Prix €</b></td>
                </tr>

                <tr>
                    <td></td>
                    <td><em>Engagement : @member.DureeOffreMois mois</em></td>
                </tr>
                <tr>
                    <td></td>
                    <td>@member.DescriptionOffre</td>
                </tr>

            }*@

    </table>


    <br />
    <br />

    <div>
        <input type="submit" onclick="window.location.href='https://localhost:5001/Home/PaymentViewClub';" value="S'abonner" />
    </div>
    <p style="color:red">ce bouton ne permet d'obliger à sélectionner un élément mais renvoit vers la page paiement, à terme il ne sera pas bon, on le laisse pour l'isntant </p>


</body>




