@model List<Projet2.Models.Utilisateur>
@{
    ViewBag.Title = "UserList";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des utilisateurs</title>
</head>
<center>
    <body>
        <h1>Liste des utilisateurs</h1>

        <label for="name">Recherche</label>

        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Recherche par nom...">
        <table id="ListUsersTable" onkeyup="myFunction()" border="1" style="margin: 20px">

                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de naissance</th>
                    <th>Adresse</th>
                    <th>adresse Email</th>
                    <th>Mot de passe</th>
                </tr>
                <tbody>
                    @foreach (var member in Model)

                    {
                        <tr>
                            <td>@member.Id</td>
                            <td>@member.InfosPersonnelles.Nom</td>
                            <td>@member.InfosPersonnelles.Prenom</td>
                            <td>@member.InfosPersonnelles.DateNaissance.ToString("dd/MM/yyyy")</td>
                            <td>@member.InfosPersonnelles.Adresse.NumeroRue, @member.InfosPersonnelles.Adresse.NomRue - @member.InfosPersonnelles.Adresse.CodePostal @member.InfosPersonnelles.Adresse.NomVille </td>
                            <td>@member.Compte.AdressEmail</td>
                            <td>@member.Compte.MotDePasse</td>
                        </tr>
                    }
                </tbody>
            </table>

            <script>function myFunction() {
                    // Declare variables
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("ListUsersTable");
                    tr = table.getElementsByTagName("tr");

                    // Loop through all table rows, and hide those who don't match the search query
                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[1]; // indicates the column for the filtering
                        if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }</script>


            <form action="RemoveUser" method="get">
                <div style="margin: 20px">
                    <input type="text" name="id" placeholder="Id" size="10rem" />
                    <button type="submit">Remove member</button>
                </div>
            </form>

            <form action="ModifyUser" method="get">
                <div style="margin: 20px">
                    <input type="text" name="id" placeholder="Id" size="10rem" />
                    <button type="submit" onclick="window.location.href='https://localhost:5001/Home/ModifyUser';">Modifier membre</button>
                </div>
            </form>




            <div style="margin: 20px">
                <button type="submit" onclick="window.location.href='https://localhost:5001/Home/createUser';">Créer membre</button>

            </div>



</body>
</center>
</html>

